/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= // require_self
 *= // require foundation_and_overrides
 *= // require_tree .
 */

@import "foundation_and_overrides.scss";
@import "iconfont.css";
@import "global.scss";

.closed {
    display: none;
}
li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {content: "Drop here"; color: rgb(225,210,90);}

.missingInfo {

    color: grey;
    font-style: italic;
}
.needsEditing {
    border-bottom: 1px dashed green;
}

.capsule-container {
}

.red {
    background: red;
}
.green {
    background: green;
}
